spring:
  application:
    name: A2-SpringData-Redis
  data:
    redis:
      password: '050715'
      host: localhost
      port: 6379
      database: 0
      timeout: 30000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
