server:
  port: 8888
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: '050715'
  redis:
    host: localhost
    port: 6379
    password: '050715'
    database: 0
  cache:
    type: redis
logging:
  level:
    com:
      itheima:
        mapper: debug
        service: info
        controller: info
